<div class="mt-2 mb-2 ms-2">
<div *ngFor="let elem of posts?.posts" class="card">
  <div class="card-body bg-light">
  <div class="d-flex align-items-center">
    <img
      class="img-thumbnail rounded-circle"
      src="https://bootdey.com/img/Content/avatar/avatar6.png"
      alt=""
      height="50"
      width="50"
    />
    <div class="">
      <div>
        <span>{{ posts.username }}</span>
        <p class="tx-10 text-muted">1 min ago</p>
      </div>

    </div>

  </div>
  <div>
    <span>{{ elem.content }}</span>
  </div>
  </div>
</div>
</div>
